@font-face {
  font-family: "iconfont"; /* Project id 3920287 */
  src: url('//at.alicdn.com/t/c/font_3920287_ea12ljj5aqw.woff2?t=1677508493811') format('woff2'),
       url('//at.alicdn.com/t/c/font_3920287_ea12ljj5aqw.woff?t=1677508493811') format('woff'),
       url('//at.alicdn.com/t/c/font_3920287_ea12ljj5aqw.ttf?t=1677508493811') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenlei:before {
  content: "\e638";
}

.icon-biaoqian_o:before {
  content: "\eb47";
}

.icon-time:before {
  content: "\e680";
}

.icon-juejin:before {
  content: "\e601";
}

.icon-github:before {
  content: "\e718";
}

.icon-weixin:before {
  content: "\e607";
}

.icon-gitee:before {
  content: "\e60c";
}

.icon-youjiantou:before {
  content: "\e600";
}

.icon-yonghu:before {
  content: "\e624";
}

.icon-mima:before {
  content: "\e64e";
}

.icon-chahao:before {
  content: "\e6ec";
}
